:root {
  --white: #ffffff;
  --yellow: #f1c40f;
  --blue: #3498db;
  --dark-blue: #2c3e50;
  --green: #2ecc71;
  --red: rgb(248, 131, 121);
  --body-padding: 20px;
}

body {
  box-sizing: border-box;
  padding: var(--body-padding);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

h3 {
  font-size: 1.4rem;
}

.status-btn, .config-btn {
  box-sizing: border-box;
  background-color: transparent;
  color: var(--dark-blue);
  border: 2px solid var(--green);
  border-radius: 0.3em;
  margin-bottom: 20px;
  padding: 0.5em 1em;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(45deg, var(--green) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background-position 300ms ease-in-out;
}

.status-btn:hover, .config-btn:hover {
  background-position: 0;
  color: var(--white);
}

input[name='timer-input'] {
  box-sizing: border-box;
  width: 80px;
  border: none;
  border: 1px solid rgba(199, 196, 196, 0.8);
  background: rgba(199, 196, 196, 0.1);
  padding: 0.4em 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-blue);
  border-radius: 0.3em;
}

.invalid {
  background: var(--red);
}

.logs-container {
  width: 500px;
  max-width: calc(90vw - var(--body-padding)*2);
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgba(199, 196, 196, 0.8);
  border-radius: 0.3em;
  background:rgba(199, 196, 196, 0.1);
}
